@import "@/shared/styles/vars.css";

.task_card_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task__card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--mark-color);
  border-radius: 8px;
  padding: 16px;

  * {
    margin: 0px;
  }
}
.task__card__data {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 75%;
}
.task__card__title {
  font-size: var(--task-title-text-size);
  font-weight: 500;
}
.task__card__description {
  font-size: var(--task-body-text-size);
  font-weight: 400;
}
.task__card__deadline {
  font-size: var(--task-deadline-text-size);
  font-weight: 200;
}
