@import "src\shared\styles\vars.css";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url("src/assets/fonts/Inter-variablefont_opsz\,wght.ttf");
}

html {
  height: 100%;
  font-size: 18;

  @media (max-width: 768px) {
    font-size: 16px;
  }

  @media (max-width: 480px) {
    font-size: 14px;
  }
}

body {
  margin: 0px;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  height: 100%;
  font-family: Inter;
  justify-content: center;
}

main {
  height: 100%;
  padding: 23px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 480px) {
    flex-direction: column-reverse;
  }
}

button {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  box-shadow: none;
  border: 2px solid var(--mark-color);
  &:hover {
    background-color: var(--light-bg-color);
    border-color: var(--mark-hover-color);
    cursor: pointer;
  }
}
