@import "@/shared/styles/vars.css";

.modal__button {
  border: 1px solid var(--mark-color);
  font-size: var(--modal-button-text-size);
  padding: 10px 30px;
}

.modal__button_container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
