@import "@/shared/styles/vars.css";

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--modal-background-color);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;

  .modal-content {
    pointer-events: auto;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &.confirmModal {
    display: none;
    .modal-content {
      padding: 20px;
      width: 400px;
      border-radius: 0px 0px 4px 4px;
      border-top: 5px solid var(--mark-color);
      p {
        font-size: var(--alert-text-size);
        margin: 30px 0px 40px 0px;
        color: var(--alert-text-color);
        text-align: center;
      }
    }
  }
  &.shareModal {
    display: none;
    align-items: flex-end;
    .modal-content {
      display: flex;
      flex-direction: row;
      gap: 16px;
      justify-content: space-around;
      background-color: var(--main-bg-color);
      border-radius: 8px 8px 0px 0px;
      padding: 14px 20px;
    }
  }
  &.editModal {
    pointer-events: all;
    display: none;
    align-items: flex-end;
    .modal-content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 18px;
      width: 400px;
      border-radius: 8px 8px 0px 0px;
      height: 44%;
      input,
      textarea {
        font-size: var(--input-text-size);
        border: 1px solid var(--mark-color);
        border-radius: 4px;
        color: var(--text-color);
      }
      textarea {
        height: 100%;
        resize: none;
        overflow: auto;
      }
    }
  }
}
